.carousel-wrapper {
  margin-top: 1rem;
}

.carousel {
  display: grid;

  grid-template-columns: 2.5rem auto 2.5rem;
  grid-template-rows: auto 2.5rem;
  grid-template-areas:
    "action-previous carousel-items action-next"
    "action-previous indicators action-next";

  background-color: #eeeefc;
}

.action {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action .action-nav-btn {
  border: none;
  background: transparent;
}

.action-previous {
  grid-area: action-previous;
}
.action-next {
  grid-area: action-next;
}

.indicators {
  grid-area: indicators;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.indicator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  color: #d3d3d3;
}
.indicator--active {
  color: #505050;
}
.indicator-btn {
  padding: 1px 4px;
  border: none;
}
.indicator-btn .spectrum-Icon {
  width: 10px;
  height: 10px;
}

.carousel-items {
  grid-area: carousel-items;

  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  overflow-x: auto;
  overflow-y: auto;

  scroll-snap-type: x mandatory;
}
.carousel-items::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  min-width: 100%;

  display: grid;
  grid-template-rows: min-content minmax(4rem, 6rem) min-content;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title picture"
    "description picture"
    "actions picture";
  gap: 12px 1rem;
  padding-top: 2rem;

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.carousel-item-title {
  grid-area: title;
}
.carousel-item-description {
  grid-area: description;
  overflow: hidden;
  overflow-y: auto;
}

.carousel-item-picture {
  grid-area: picture;
}

.carousel-item-actions {
  grid-area: actions;
}
